*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lemonchiffon;
    position: static;
}

.header{
    height: 10vh;
}

.container-fluid{
    text-align: right;
    font-weight: 800;
    color: deeppink;
    margin-top: 30px;
    
}

.para{
    text-align: left;
    padding-left: 60px;
}
.fa{
    height:5px;
    color:darkmagenta;
    margin:0px 10px 50px;
    font-weight: 100;
    padding-right: 80px;
    cursor: pointer;
}

.navbar-header{
    margin-bottom: 5px;
}
.icon-bar{
    background: darkorange;
}

.navbar-style{
    box-shadow: 0 5px 10px transparent;
    text-transform: uppercase;
}


li a{
    color:deeppink;
    margin-right: 30px;
}

a:hover{
    color:deeppink;
    font-size: larger;
    font-weight: bold;
}
.active{
    font-weight: bold;
}


.logo{
    border-radius: 50%;
    width: 120px;
   height: 100pv;
   top:30px;
    padding: 10px 10px;
   cursor: pointer;

}

ul button{
    background-color: deeppink;
    border: none;
    color: white;
    padding:0.5rem 1rem;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    width: 80px;
    margin: 10px auto 0;
    cursor: pointer;
    margin: 1rem 2rem;
}

.section{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
}
.slider{
    height: 500px;
    width: 800px; 
    border-radius: 10px;
    overflow: hidden;
}
.slide{
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input{
    display: none;
}
.sl{
    width: 20%;
    transition: 2s;
}
.sl img{
    width:800px;
    height:500px;
}
.manual{
    position:absolute ;
    width:800px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}
.manuals{
    border:2px solid darkmagenta;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
}
.manuals:not(:last-child){
    margin-right: 40px;
}
.manuals:hover{
    background-color:darkmagenta;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}

.auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}
.auto div{
    border: 2px solid darkmagenta;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.auto div:not(:last-child){
    margin-right: 40px;
    justify-content: center;
}
#radio1:checked ~ .auto .auto1{
    background-color:darkmagenta;
}
#radio2:checked ~ .auto .auto2{
    background-color: darkmagenta;
}
#radio3:checked ~ .auto .auto3{
    background-color: darkmagenta;
}

.sect-tag{
    min-height: 100vh;
    max-height: 1000px;
    margin:0;
    padding: 0;
    display: inline-block;
    
}

.cont-img{
    justify-content: center;
    padding-left: 30px;
}
.cont-img h4{
    color:deeppink;
    font-weight: 400;
}
.cont-img h1{
    color:darkmagenta;
    font-weight: 400;
    font-weight: bold;
}
.cont-img p{
    font-size: large;
    padding-right:10px;
}
#cont{
    margin-top: 50px;
}
.layout{
    
    width: 660px;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}
#cont-video{
    width:650px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}






