.social-media-icons {
    text-align: right;
    margin-bottom: 10px;
    color: aqua;
}
  

.social-media-icons a {
    display: inline-block;
    margin-left: 10px;
    color: blueviolet;
}
.navbar {
    margin-top: 10px;
}
.fab{
    color:blue;
}